<!DOCTYPE html>
{% load static %}
<html lang="en">
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 </head>
 <style>
  body{
      background-image: url("{% static 'images/image1.jpg' %}");
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-weight: bolder;
  }
   </style>
 <body>
 <div class="form-gap"></div>
<div class="container" style="width:100%; font-weight:bolder; height:70%; align-content: center;  margin-top:15%;">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                
                  <div class="panel-body">
    
                    <form action="" method="POST">
                      {% csrf_token %}
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class=" glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" type="email" required>
                        </div><br>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary center-block" >Submit</button>
                      </div>
                      
                     
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
</body>
</html>